body {
    margin: 0;
}

.background__image {
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    width: 100%;
}

.background__image--hawaii {
    background-image: url(../assets/Images/hawaii.jpg);
}

.background__image--greece {
    background-image: url(../assets/Images/greece.jpg);
}

.background__iceland {
    background-image: url(../assets/Images/iceland.jpg);
    background-size: cover;
    background-position: left;
    min-height: 80vh;
    width: 100%;
}

h1 {
    color: #fff;
    font-size: 4.3em;
    margin: 0 0.8em;
    color: #fff;
    padding: 0.5em;
}

.photocards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photocard {
    min-width: 20rem;
    max-width: 20rem;
    min-height: 27.5rem;
    max-height: 28.75rem;
    padding: 0 1.25rem 1.25rem 1.25rem; 
    margin: 5.5rem 1.25rem 5.5rem 1.25rem;
    border-radius: .3125rem;
    box-shadow: 0 4px 4px -1px rgb(0, 0, 0, 0.2);
    background-color: #fff;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

h2 {
    margin-top: 0;
    text-align: center;
    color: #000;
    border-bottom: 2px solid #000;
}

.photocard__text {
    background-color: #FEFAF5;
    padding: 0.8em 6em;
    margin: 1.7em 0;
}