html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.color__blue {
    color: #335576;
}

.color__orange {
    color: #DB7A4E;   
}

.logo {
    font-weight: 700;
    font-size: 1.3em;
}

li {
    margin-left: 2em;
}

li, a {
    text-decoration: none;
    list-style: none;
}

.nav__bar {
    display: flex;
}

.nav__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    margin: 1em 6em;
}

.nav__text {
    color: #000;
} 

.nav__text--active:hover {
    padding: 1em 0;
    border-bottom: 2px solid #DB7A4E;
}

footer {
    background-color: #FEFAF5;
    display: flex;
    justify-content: center;
    padding: 1em 3em;
}

.footer__container {
    display: flex;
}

.email {
    margin-top: 2.2em;
}

.footer__hours {
    margin-left: 2em;
}

.footer__text {
    display: flex;
}

.footer__text--open {
    margin: 0 2em 0 0;
}

.footer__social{
    margin-left: 2em;
}

.social {
    margin: 1em;
}

.social__handle {
    width: 2em;
    margin: 2em 1em 0 1em;
}

.social__facebook {
    width: 1em;
}
